.main-container {
    display: flex;
    height: 98vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rubrics-menu {
    width: 25vw;
}

.main-title {
    margin: auto;
    font-size: 2.5vh;
    width: 90%;
    border: 2px solid red;
    margin: 5px;
    padding: 8px;
    transition: 0.2s;
    background-color: white;
}

.main-title:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.select {
    background-color: red;
    color: white;
    margin-left: 1.1vw;
}

red {
    color: red;
    font-weight: bold;
}

a {
    color: red;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid red;
}

.pointer:hover {
    cursor: pointer;
}

.chat-wrapper {
    position: relative;
    border: 2px solid red;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 65%;
    height: 60%;
    padding: 1%;
    font-size: 200%;
}

.text-wrapper {
    height: 102%;
    overflow: auto;
}

#pages {
    position: absolute;
    top: -11%;
    left: -0.2%;
    width: 100%;
    height: 50px;
}

.page {
    display: inline-block;
    border: 2px solid red;
    margin: 5px;
    padding: 5px;
}

.page:hover {
    cursor: pointer;
    background: red;
    color: white;
}

.active {
    background: red;
    color: white;
}

#next-btn, #prev-btn {
    position: absolute;
    top: 102%;
    width: 49%;
    height: 4.5vh;
    background-color: red;
    color: white;
    font-size: 100%;
    text-align: center;
    line-height: 100%;
}

#prev-btn {
    left: 0%;
}

#next-btn {
    left: 50%;
}

#next-btn:hover, #prev-btn:hover {
    cursor: pointer;
    background-color: #e60000;
}

/* картинки */
#img-1 {
    display: none;
    position: fixed;
    top: 35%;
    left: 30%;
    width: 40%;
    height: auto;
    z-index: 100;
}

#text-img-1:hover ~ #img-1 {
   display: block;
}

/* список чатов по направлениям */
#chats-list-title {
    position: relative;
    border-bottom: 2px solid red;
    width: 50%;
    margin: 5px 5px 5px 0;
    padding: 5px;
}

#chats-list-title:hover {
    cursor: pointer;
}

#chats-list {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin-bottom: 3vh;
}

#chats-list > * {
    display: none;
    width: 35%;
    margin: 15px 6% 0 0;
    font-size: 1.5vw;
}

.arrow-up {
    content: '';
    position: absolute;
    top: -10%;
    left: 91%;
    border: 20px solid transparent;
    border-top-color: red;
    transform: rotate(180deg);
}

.arrow-down {
    content: '';
    position: absolute;
    top: 35%;
    left: 91%;
    border: 20px solid transparent;
    border-top-color: red;
}
